<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>

<ul>
    <li><a href="{% url 'lectures:professor-list' %}">교수 목록</a></li>
    <li><a href="{% url 'lectures:lectures-list' %}">강의 목록</a></li>
    <li><a href="{% url 'lectures:student-list' %}">학생 목록</a></li>
</ul>
<hr>


{% if not professors and not lectures and not students %}
   <p>등록된 강의/교수/학생이 없습니다.</p>
{% endif %}
</body>
</html>